html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
    .container {
      position: relative;
      width: 100%;
      max-width: 1280px;
      margin: auto;
	  #z-index:100;
      #aspect-ratio: 5 / 3; /* 또는 padding-top: 60% */
    }
    .background {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
	  z-index:100;
    }

    .map_0_all {
      position: absolute;
      top: 10%; left: 10%;
      width: 80%;
      display: none;
	  z-index: 9999;
    }
    .inventory {
      position: absolute;
      top: 10%; left: 10%;
      width: 80%;
      display: none;
	  z-index: 9990;
    }	

    .inventory_item_1 {
      position: absolute;
      top: 28%;
      left: 21.5%;
      width: 8%;
      display: none;
      z-index: 9992;
    }	
	.inventory_item_1:hover {
		cursor: pointer;
	  /* 마우스 오버시 커서 변경 or 시각 효과 */
	  #background-color: rgba(255, 0, 0, 0.3); 
	}	
    .inventory_item_2 {
      position: absolute;
      top: 28%;
      left: 33.7%;
      width: 8%;
      display: none;
      z-index: 9992;
    }		

    /* dim 배경 */
    .dim-overlay {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background: rgba(0, 0, 0, 0.4);
      z-index: 3000;
      display: none;
    }
    .dim-small-layer {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background: rgba(0, 0, 0, 0.6);
      z-index: 9996;
      display: none;
    }	
	
    .inventory_detail {
      position: absolute;
      top: 23%;
      left: 13%;
      width: 75%;
      display: none;
      z-index: 9996;
    }		
    /* inventory 모달 박스 */
    .custom-alert-inventory {
      position: absolute;
      top: 27%; left: 41.3%;
      width: 13%;	  
	  height: 28%;	  
      background: #f1e9df;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      padding: 20px 30px;
      z-index: 99999;
      display: none;
      text-align: center;
    }
	
	.inventory-box-close-icon{
      position: absolute;
      top: 4%; left: 87%;
      width: 10%;	
      display: none;	
      cursor: pointer;	  
	}
    .custom-alert-inventory h2 {
      margin-top: 0;
      font-size: 20px;
      color: #895615;
    }
 
    /* alert 모달 박스 */
    .custom-alert {
      position: fixed;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      padding: 20px 30px;
      z-index: 4001;
      display: none;
      min-width: 300px;
      max-width: 90%;
      text-align: center;
    }

    .custom-alert h2 {
      margin-top: 0;
      font-size: 20px;
      color: #333;
    }

    .custom-alert p {
      font-size: 16px;
      color: #555;
      margin: 10px 0 20px;
    }

    .custom-alert button {
      background: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
    }

    .custom-alert button:hover {
      background: #45a049;
    }

.common-icon-inventory {
  position: absolute;
  top: 4%;  
  left: 83%; 
  width: 5%; 
  height: 5%;
  cursor: pointer;
}
.common-icon-map {
  position: absolute;
  top: 4%;  
  left: 88%; 
  width: 5%; 
  height: 5%;
  cursor: pointer;
}
.common-icon-close {
  position: absolute;
  top: 4%;  
  left: 94%; 
  width: 5%; 
  height: 5%;
  cursor: pointer;
  display: none;
  z-index: 9993;
}

.preview-icon {
  position: absolute;
  top: 82%;  
  left: 3%; 
  width: 10%; 
  height: 15%;
  cursor: pointer;
}
.next-icon {
  position: absolute;
  top: 84%;  
  left: 87%; 
  width: 10%; 
  height: 15%;
  cursor: pointer;
}

.player-input {
  background: #eee;
  padding: 26px;
  margin: 8px 0;
  width: 300px;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.game1-bg {
  background-image: url("../image/game1_background.png");
}
.game2-bg {
  background-image: url("../image/game2_background.jpg");
  #background-size: 1200px;
  #width: 200px;
  #height: 60px;  
}
.game2-icon1 {
  position: absolute;
  top: 220px;
  left: 100px;
  cursor: pointer;
  z-index:999;
  #transform: translateX(-50%, -50%);  
}
.game2-icon2 {
  position: absolute;
  top: 620px;
  right: 1px;
  cursor: pointer;
  z-index:999;
  #transform: translateX(-50%, -50%);  
}
.game2-icon3 {
  position: absolute;
  top: 50px;
  left: 200px;
  cursor: pointer;
  z-index:999;
  #transform: translateX(-50%, -50%);  
}
.game2-icon4 {
  position: absolute;
  top: 50px;
  left: 400px;
  cursor: pointer;
  z-index:999;
  #transform: translateX(-50%, -50%);  
}
.game3-bg {
  background-image: url("../image/game3_background.jpg");
}
.game4-bg {
  background-image: url("../image/game4_background.jpg");
}
.game5-bg {
  background-image: url("../image/game5_background.jpg");
}
.game6-bg {
  background-image: url("../image/game6_background.jpg");
}

.player-name-box {
  position: absolute;
  top: 75%;
  left: 5%;
  background: rgba(0, 0, 0, 0.56);
  color: white;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 77;
  border:2px solid black;
}
.game1-title-box2 {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
.game1-title-box3 {
  position: absolute;
  top: 650px;
  right: 5%;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
  cursor: pointer;
}

.index-title1-box1 {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.index-title-box2 {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.title-box {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.title-link {
  text-decoration: none;
}

.small-icon {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  cursor: pointer;
}

.footer-banner {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 20%;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*
    .center-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 20px;
    }

    .input-box {
      background: white;
      padding: 5vw;
      border-radius: 12px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 100%;
      max-width: 500px;
    }

    .input-box h2 {
      font-size: clamp(1.2rem, 2.5vw, 2rem); 
      margin-bottom: 20px;
      color: #333;
    }

    .input-box input[type="text"] {
      width: 100%;
      padding: 1em;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 20px;
      transition: border 0.3s;
    }

    .input-box input[type="text"]:focus {
      border-color: #4CAF50;
      outline: none;
    }

    .input-box button {
      width: 100%;
      padding: 1em;
      font-size: 1rem;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .input-box button:hover {
      background-color: #45a049;
    }

    @media (max-width: 480px) {
      .input-box {
        padding: 8vw;
      }
    }
	*/
	
    .custom-inputbox {
      position: absolute;
      top: 46%; left: 41%;
      background: white;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      padding: 20px 30px;
      z-index: 100;
      min-width: 10%;
      text-align: left;
    }	
	
	
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  #z-index: 5000;
  #pointer-events: none; /* 기본적으로 클릭 방지, 필요한 곳만 허용 */
}
.player-left-right {
#	position: absolute;
	z-index: 2900;
}
.common-footer {
#	position: absolute;
#	z-index: 3000;
}

.overlay .map {
  position: absolute;
  width: 6%;
  height: 6%;
  left: 90%;
  pointer-events: auto; /* 이 영역만 클릭 허용 */
  cursor: pointer;
  z-index: 999999;
  display: none;
  background-color: rgb(209, 195, 195, 0.7);
  color:white;
  border: 2px solid white;              /* 흰색 테두리 */
  display: flex;                        /* 중앙 정렬을 위한 flexbox 사용 */
  align-items: center;                 /* 수직 중앙 정렬 */
  justify-content: center;             /* 수평 중앙 정렬 */
  font-weight: bold;                   /* 텍스트 강조 (선택) */
  text-align: center;
  border-radius: 4px;                  /* 선택: 박스 모서리 둥글게 */  
  text-decoration: none;       /* 밑줄 제거 */
  font-size: 1.2em;                   /* 글자 크기 적당히 조절 */
  line-height: 2.3;                   /* 혹시 필요할 경우 기본 줄간격 */
}
/* 마우스 오버 시 효과 */
.overlay .map:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #ffffff;
}
/* 클릭해서 선택된 경우 스타일 */
.overlay .map.selected {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border-color: #fff;
}

/* 특정 부분만 클릭 가능하도록 하려면 예: */
.overlay .clickable-area {
  position: absolute;
  top: 52.5%;
  left: 48.5%;
  width: 9.5%;
  height: 18.5%;
  pointer-events: auto; /* 이 영역만 클릭 허용 */
  cursor: pointer;
  z-index: 99999;
  display: none;
  #background-color: rgba(255, 0, 0, 0.3); /* 디버깅용 */
}
.overlay .clickable-area:hover {
  /* 마우스 오버시 커서 변경 or 시각 효과 */
  background-color: rgba(255, 0, 0, 0.3); 
}
.overlay .clickable-area1 {
  position: absolute;
  top: 31.5%;
  left: 13%;
  width: 9.5%;
  height: 18.5%;
  pointer-events: auto; /* 이 영역만 클릭 허용 */
  cursor: pointer;
  z-index: 99999;
  display: none;  
  #background-color: rgba(255, 0, 0, 0.3); /* 디버깅용 */
}
.overlay .clickable-area1:hover {
  /* 마우스 오버시 커서 변경 or 시각 효과 */
  background-color: rgba(255, 0, 0, 0.3); 
}
.overlay .clickable-area2 {
  position: absolute;
  top: 15%;
  left: 24.5%;
  width: 48.9%;
  height: 17.5%;
  pointer-events: auto; /* 이 영역만 클릭 허용 */
  cursor: pointer;
  z-index: 99999;
  display: none;  
  #background-color: rgba(255, 0, 0, 0.3); /* 디버깅용 */
}
.overlay .clickable-area2:hover {
  /* 마우스 오버시 커서 변경 or 시각 효과 */
  background-color: rgba(255, 0, 0, 0.3); 
}
